html,
body {
  /* background-color: #f1f3f6 !important;
  background-color: #f1f3f6 !important; */
}

html,
.footer,
.hero .tabs.is-boxed li.is-active a {
  /* background: #fff; */
  background-color: #fafbfc !important;
}

.hero .tabs.is-boxed li.is-active a {
  border-color: inherit !important;
}

.hero .tabs.is-boxed li a {
  font-weight: bold;
}

.hero.is-warning .tabs.is-boxed li.is-active a span {
  color: rgba(0, 0, 0, 0.7);
}

#navbarMobile a {
  /* color: #fff; */
}

#navbarMobile a:hover {
  /* background-color: transparent; */
}

.has-active-dark {
  /* background-color: #292929 !important; */
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: transparent !important;
  }

  .navbar-menu a {
    color: #fff;
  }
}

/* Modal Custom */
.modal-card-head,
.modal-card-foot {
  padding: 15px 20px;
}

.modal-card-title {
  font-size: 1.2rem;
}

/* --------------------------------------- */
/* -------------- side menu -------------- */

#searchBox {
  width: 100%;
}

#side-menu a {
  color: #3298dc;
}

#side-menu a.is-active {
  color: #fff;
}

.menu-list li ul {
  padding-left: 0;
}

.menu-list li ul .active {
  border-left: 2px solid #3273dc;
}

/* --------------------------------------- */
/* -------------- table custom burger -------------- */

.yon-burger.table {
  border-top: 1px solid #dbdbdb;
}

.yon-burger.table td,
.yon-burger.table th {
  padding: 0.75em 1em !important;
}

.yon-burger.table > tbody > tr.active > td,
.yon-burger.table > tbody > tr.active > th,
.yon-burger.table > tbody > tr > td.active,
.yon-burger.table > tbody > tr > th.active,
.yon-burger.table > tfoot > tr.active > td,
.yon-burger.table > tfoot > tr.active > th,
.yon-burger.table > tfoot > tr > td.active,
.yon-burger.table > tfoot > tr > th.active,
.yon-burger.table > thead > tr.active > td,
.yon-burger.table > thead > tr.active > th,
.yon-burger.table > thead > tr > td.active,
.yon-burger.table > thead > tr > th.active {
  background-color: #3298dc;
  color: #fff;
}

.yon-burger.is-bordered > tbody > tr > td,
.yon-burger.is-bordered > tbody > tr > th,
.yon-burger.is-bordered > tfoot > tr > td,
.yon-burger.is-bordered > tfoot > tr > th,
.yon-burger.is-bordered > thead > tr > td,
.yon-burger.is-bordered > thead > tr > th {
  border-color: #d1d3d5;
  margin-bottom: 50px;
}

.yon-burger.table tr.header {
  font-weight: bold;
  /* background-color: #fff; */
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.yon-burger.table tr:not(.header) {
  display: none;
  background-color: #e6fdff;
}

.yon-burger.table .header td:after {
  content: "\002b";
  color: #3298dc;
  position: relative;
  top: 1px;
  display: inline-block;
  /* font-family: 'Glyphicons Halflings';
        font-style: normal; */
  font-weight: bolder;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left;
  margin-right: 10px;
  /* color: #999; */
  text-align: center;
  padding: 3px;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.yon-burger.table .header.active td:after {
  color: #fff;
  content: "\2212";
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}




/* YON STYLE */
.hero.is-biochem {
  background-color: #59186f;
  border-color: #59186f;
  color: #fff;
}

.hero.is-biochem .tabs.is-boxed a{
  color: #fff;
}

.hero.is-biochem .tabs.is-boxed a:hover{
  background-color: #59186f;
}

.hero.is-biochem .tabs.is-boxed li.is-active a {
  color: #59186f;
}

.hero.is-biochem.is-bold {
  /* background-image: linear-gradient(141deg,#351552 0,#a244bc 71%,#745ba3 100%); */
  background-color: #59186f;
}

.hero.is-biochem .title {
  color: #fff;
}

.is-biochem.input {
  border-color: #59186f;
}

.has-background-biochem {
  background-color: #59186f;
  color: #fff;
}


.button.is-biochem {
  background-color: #59186f;
  border-color: transparent;
  color: #fff;
}


/* --------------------------------------- */
/* --------------- select2 --------------- */
.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 2.5em !important;
}

.select2-selection__rendered {
  line-height: 2.2em !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px !important;
  position: absolute !important;
  top: 1px !important;
  right: 1px !important;
  width: 20px !important;
}
